<!DOCTYPE html>
<html lang="es-AR">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="TP3 - Modificando el estilo - CSS - Cascading Style Sheets - Programación en Ambiente Web - Universidad Nacional de Luján - 2018">
	<meta name="keywords" content="HTML, CSS, XML, JavaScript, Apache, PHP">
	<meta name="author" content="Gómez Vicente, Javier Elías; Juran, Martín Tomás; Marazzo, Leonardo José">
	<title>TP3 - Modificando el estilo - CSS - Cascading Style Sheets</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<base target="_blank">
</head>
<body>
	<header>
		<h2>Trabajo Práctico #3</h2>
		<h1>
		</h1>
		<p>Programación en Ambiente Web - 11086</p>
		<p>Universidad Nacional de Luján 2018</p>
		<img src="res/logo-unlu.png" alt="Logo UNLu" height="300px">
		<p>
			Gómez Vicente, Javier Elías - 117040 - 
			<a href="mailto:eliasgomezv@gmail.com">eliasgomezv@gmail.com</a>
		</p>
		<p>
			Juran, Martín Tomás - 143191 - 
			<a href="mailto:tomasjuran96@gmail.com">tomasjuran96@gmail.com</a>
		</p>
		<p>
			Marazzo, Leonardo José - 143112 - 
			<a href="mailto:leonardojmarazzo@gmail.com">leonardojmarazzo@gmail.com</a>
		</p>
	</header>
	<main>
		<h2>Entendiendo CSS</h2>
		<section>
			<h3>
				1. 
			</h3>
			<p>

			</p>
		</section>
		<section>
			<h3>
				2. 
			</h3>
			<p>

			</p> 
		</section>

		<hr>
		
		<section section id="Bibliografía">
			<h2>Bibliografía</h2>
			<ul>
				<li><a href=""></a></li>
			</ul>
		</section>
	</main>
</body>
</html>