* {
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  text-align: center;
}

@media only screen and (min-width: 768px) {
	body {
    	font-size: 16pt;
	}
}

table.tbl-board {
	margin: auto;
	border-spacing: 4vmin;
	border-collapse: separate;
	table-layout: fixed;
}

td.card {
	width: 12vmin;
	height: 12vmin;
	border: dashed blue 3px;
	border-radius: 10%;
}

@media only screen and (min-width: 768px) {
	td.card-down {
		cursor: pointer;
		transition: 0.5s;
	}	

	td.card-down:hover,
	td.card-selected,
	td.card-found {
		transform: scale(1.1);
	}
}

td.card-selected {
	border-style: solid;
	border-color: yellow;
	box-shadow: 0px 0px 5px 2px;
}

td.card-found {
	border-style: solid;
	border-color: green;
}

td.card > img {
	width: 94%;
	position: relative;
	top: 3%;
}

@media only screen and (min-width: 768px) {

	.screen-game,
	#art-board,
	section.sec-turn,
	section.sec-status-msg,
	#nav-game {
		position: relative;
	}

	#art-board {
		float: left;
	}

	section.sec-turn,
	section.sec-status-msg,
	#nav-game {
		float: right;
	}

	#art-board {
		width: 70%;
	}

	section.sec-turn,
	section.sec-status-msg,
	#nav-game {
		width: 30%;
	}

	
	section.sec-turn,
	section.sec-status-msg,
	#nav-game {
		clear: right;
	}
}
