* {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-size: 16pt;
	background-color: lightblue;
	margin: 0;
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 12pt;
	}
}

header > p {
	color: white;
	background-color: darkcyan;
	padding: 0.5em 0;
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
}

nav {
	margin: 0;
}

@media only screen and (max-width: 768px) {
	input[type=submit] {
		padding: 1em;
	}
}

section.panel-superior {
	background-color: lightsteelblue;
	padding: 1em 0;
}

section.panel-superior * {
	margin: 1em auto;
	display: block;
}

section.panel-superior *:first-child {
	margin-top: 0;
}

section.panel-superior *:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
	section.panel-superior * {
		display: inline-block;
		width: 49%;
	}
	
	section.panel-superior *:first-child,
	section.panel-superior *:last-child {
		margin: 0;
	}
}

p.aviso {
	border-left: 6px solid rgb(255, 235, 59);
	border-right: 6px solid rgb(255, 235, 59);
	background-color: #ffc;
	padding: 1em 0;
	margin: 1em 2em;
}

article.article-post {
	display: block;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 95%;
	padding: 0.5em 1em;
    border: 4px solid #ccc;
    border-radius: 32px;
    background-color: #f8f8f8;
    font-size: 0.8em;
    position: relative;
}

@media only screen and (min-width: 768px) {
	article.article-post {
		width: 75%;
		font-size: 1em;
	}
}

article.article-post > img {
	max-width: 100%;
	height: auto;
}

.fecha {
	text-align: left;
	font-style: oblique;
	font-size: 0.8em;
}

article.article-post .post-cuerpo,
article.article-post .post-titulo {
	text-align: left;
}


@media only screen and (min-width: 768px) {
	article.article-post .form-mod-del {
		position: absolute;
		right: 1em;
		top: 1.5em;
		width: 33%;
	}

	article.article-post .post-titulo {
		width: 66%;
	}
}

article.article-post-edit label {
	display: block;
	margin: 0.5em;
}

article.article-post-edit input#titulo {
	width: 95%;
}

textarea {
	width: 95%;
	height: 10em;
	padding: 0.5em;
    border: 3px solid #ccc;
    border-radius: 10px;
    resize: none;
}

article.article-post-edit *:first-child,
article.article-post-edit *:last-child {
	margin: 0;
}

@media only screen and (min-width: 768px) {
	article.article-post-edit input#titulo,
	article.article-post-edit textarea {
		width: 75%;
		font-size: 1.2em;
	}

	article.article-post-edit textarea {
		height: 20em;
	}
}

section.section-comentarios {
	margin-top: 1em;
	border-top: 1px solid gray;
	display: block;
}

div.div-nuevo-comentario p {
	display: inline-block;
}

form.nuevo-comentario input[id^=com-autor] {
	width: 95%;
}

@media only screen and (min-width: 768px) {
	form.nuevo-comentario textarea {
		font-size: 1em;
		height: 10em;
	}
}

div.div-comentario {
	margin-top: 1em;
	border-top: 1px solid gray;
}

div.div-comentario .comentario-autor,
div.div-comentario .fecha {
	text-align: left;
	display: inline-block;
}

div.div-comentario .comentario-autor {
	font-weight: bold;
}

div.div-comentario .fecha {
	padding-left: 0.5em;
}

div.div-comentario .comentario-cuerpo {
	margin-top: 0;
	text-align: left;
	display: block;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

div[class|=arrow] {
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 0.5em;
    top: -0.1em;
}

div.arrow-down {
	transform: rotate(45deg);
}

div.arrow-right {
	transform: rotate(-45deg);
}

@media print {
	header, footer, nav, aside, form,
	section.aviso-usuario,
	section.panel-superior,
	div.div-nuevo-comentario {
		display: none !important;
	}

	section.section-comentarios {
		border: 0;
	}

	body {
		background-color: white;
		font-size: 12pt;
	}

	article.article-post {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		background-color: white;
		font-size: 1em;
		page-break-after: always;
	}

	@page {
		size: A4;
		
		@top-left {
			content: "Mi tercer blog";
		}

		@top-right {
			content: "http://localhost/tp3/13/index.php";
		}

		@bottom-left {
			content: counter(page) " de " counter(pages);
		}
	}
}